{% extends "base.html" %}
{% load staticfiles %}
{% block navigation_computer %}
            <div class="navbar hidden-phone" >
                    <a href="{% url 'index' %}">Start</a>
                    <a href="{% url 'gallery-list' %}">Portfolio</a>
                    <a href="{% url 'offer' %}">Oferta</a>
                    <a href="{% url 'before' %}">Przed sesją</a>
                    <a class="active" href="{% url 'about' %}">O mnie</a>
                    <a href="{% url 'contact' %}">Kontakt</a>

            </div>

{% endblock %}
{% block content %}
    <div class="row headline">
        <div class="span2"></div>
        <div class = "gallery span8">
            <div class="span1"></div>
            <div class="span6">
                Witajcie w świecie kadrów bajkami utkanych, trochę magicznych, momentami nostalgicznych. Uwielbiam
                światło naturalne, piękne leśne lub łąkowe plenery. W swoich fotografiach staram się zamknąć dziecięcą
                radość, ulotne chwile, które tak szybko uciekają pomiędzy sprawami dnia codziennego.<br><br>
                Przygodę z fotografią rozpoczęłam w roku 2012, w pierwszych nieśmiałych próbach wspierał mnie mój psiak,
                Nevo, dzielnie pozując do niezliczonej ilości mniej lub bardziej udanych kadrów. Potem przyszła kolej na
                obrazy makro - ważki, motyle, muchy i mnóstwo kolorowych kwiatów. Ten wycinek mojej twórczości znajduje
                się w miejscu nazwanym nie inaczej, jak
                <a target="_blank" href="http://whiteeyedhusky.pl/">WHITE EYED HUSKY</a>.<br><br>
                Strona bajkami utkane jest miejscem szczególnym, dzieciaczki są bardzo wdzięcznymi modelami. Przed
                obiektywem nie starają się udawać, są spontaniczne. Dzięki temu kadry, które powstają są naturalne i
                niewymuszone. Jeśli chcecie razem ze mną pisać kolejne bajkowe scenariusze, zapraszam do kontaktu.
                <br><br><br><br>
                <span class="right">Monika</span>
            </div>
        </div>
    </div>
{% endblock %}