{% extends "base.html" %}
{% load staticfiles %}
{% block navigation_computer %}
            <div class="navbar hidden-phone" >
                    <a href="{% url 'index' %}">Start</a>
                    <a href="{% url 'gallery-list' %}">Portfolio</a>
                    <a href="{% url 'offer' %}">Oferta</a>
                    <a class="active" href="{% url 'before' %}">Przed sesją</a>
                    <a href="{% url 'about' %}">O mnie</a>
                    <a href="{% url 'contact' %}">Kontakt</a>

            </div>
{% endblock %}
{% block content %}
    <div class="row headline">
        <div class="span2"></div>
        <div class = "gallery span8">
            <div class="span1"></div>
            <div class="span6">
                    <h5>ŚWIATŁO</h5>
                    Fotografia to malowanie światłem, dlatego niezmiernie ważny jest dobór odpowiedniej pory na
                    wykonanie sesji plenerowej. Najpiękniejsze kadry powstają kiedy słońce jest nisko, kolory stają się
                    nasycone, światło jest zmiękczone.<br><br>
                    W fotografii portretowej korzystam z naturalnego oświetlenia, a więc zdecydowana większość sesji
                    zdjęciowych odbywa się w plenerze. Najlepsza pora to tzw. "złota godzina", która ma miejsce przed
                    samym zachodem słońca.<br><br>
                    Niestety, czasem zdarza się, że warunki pogodowe są niesprzyjające (gwałtowna ulewa, wichura, burza),
                    jedynym wyjściem pozostaje wtedy przełożenie sesji na inny dzień. Warto poczekać, bo kadry które
                    powstają w dobrych warunkach oświetleniowych potrafią być magiczne.<br><br>
                    <h5>STYLIZACJE</h5>
                    Bardzo istotnym elementem jest ubiór. To on w dużej mierze tworzy klimat fotografii. Najlepiej
                    sprawdzają się jasne, pastelowe, kremowe lub białe sukienki w przypadku dziewczynek oraz spodenki i
                    bluzki w neutralnych, mało krzykliwych kolorach w przypadku chłopców. Unikamy ubrań w stylu
                    nowoczesnym, z dużymi nadrukami. Im mniej wzorów, tym lepiej. Obuwie dopasowujemy kolorystycznie do
                    pozostałych części stylizacji, tu sprawdzą się na przykład delikatne sandałki. Istnieje możliwość
                    wykonania sesji z użyciem rekwizytów oraz sesji stylizowanych. Dużo uroku mają w sobie kadry, gdzie
                    małych modeli wspierają zwierzaki. Jeśli dziecko ma psiego lub kociego przyjaciela, który mógłby
                    wziąć udział w sesji, jak najbardziej do tego zachęcam.<br><br>
            </div>
        </div>
    </div>
{% endblock %}
