{% extends "base.html" %}
{% load staticfiles %}
{% block navigation_computer %}
            <div class="navbar hidden-phone" >
                    <a class="active" href="{% url 'index' %}">Start</a>
                    <a href="{% url 'gallery-list' %}">Portfolio</a>
                    <a href="{% url 'offer' %}">Oferta</a>
                    <a href="{% url 'before' %}">Przed sesją</a>
                    <a href="{% url 'about' %}">O mnie</a>
                    <a href="{% url 'contact' %}">Kontakt</a>

            </div>

{% endblock %}
{% block content %}
    <div class="row headline">
    <div class="span2"></div>
        <div class="span8">
            <div class="flexslider">
              <ul class="slides">
                <li><a href="#"><img src="{% static 'img/gallery/slider-1.jpg' %}" alt="slider" /></a></li>
                <li><a href="#"><img src="{% static 'img/gallery/slider-2.jpg' %}" alt="slider" /></a></li>
                <li><a href="#"><img src="{% static 'img/gallery/slider-3.jpg' %}" alt="slider" /></a></li>
              </ul>
            </div>
        </div>
    </div>
{% endblock %}