{% extends "base.html" %}
{% load staticfiles %}
{% block navigation_computer %}
            <div class="navbar hidden-phone" >
                    <a href="{% url 'index' %}">Start</a>
                    <a href="{% url 'gallery-list' %}">Portfolio</a>
                    <a class="active" href="{% url 'offer' %}">Oferta</a>
                    <a href="{% url 'before' %}">Przed sesją</a>
                    <a href="{% url 'about' %}">O mnie</a>
                    <a href="{% url 'contact' %}">Kontakt</a>

            </div>

{% endblock %}
{% block content %}
    <div class="row headline">
        <div class="span2"></div>
        <div class = "gallery span8">
            <div class="span1"></div>
            <div class="span6">
                <h5><font color="#8B457F">SESJA MINI</font>&nbsp;&nbsp; 170zł</h5>
                <ul>
                <li type="square">10 starannie wyselekcjonowanych zdjęć z sesji poddanych autorskiej obróbce zapisanych na płycie CD w
                    dwóch formatach: do druku oraz do zamieszczania na stronach internetowych</li>
                <li type="square">10 odbitek na papierze jedwabnym Fuji Professional 15x23 z białą ramką, zapakowanych w ozdobne pudełko</li>
                <li type="square">podstawowy retusz i edycja kolorystyczna</li>
                </ul>
                <br>
                <h5><font color="#8B457F">SESJA STANDARD</font>&nbsp;&nbsp; 330zł</h5>
                <ul>
                <li type="square">20 starannie wyselekcjonowanych zdjęć z sesji poddanych autorskiej obróbce zapisanych na płycie CD w
                    dwóch formatach: do druku oraz do zamieszczania na stronach internetowych</li>
                <li type="square">20 odbitek na papierze jedwabnym Fuji Professional 15x23 z białą ramką, zapakowanych w ozdobne pudełko</li>
                <li type="square">podstawowy retusz i edycja kolorystyczna</li>
                </ul>
                <br>
                <h5><font color="#8B457F">SESJA PREMIUM</font>&nbsp;&nbsp; 450zł</h5>
                <ul>
                <li type="square">30 starannie wyselekcjonowanych zdjęć z sesji poddanych autorskiej obróbce zapisanych na płycie CD w
                    dwóch formatach: do druku oraz do zamieszczania na stronach internetowych</li>
                <li type="square">30 odbitek na papierze jedwabnym Fuji Professional 15x23 z białą ramką, zapakowanych w ozdobne pudełko</li>
                <li type="square">podstawowy retusz i edycja kolorystyczna</li>
                <br>
                </ul>
                <font size="2.5" color="#8B457F">W przypadku braku zgody na publikację zdjęć, należy do ceny sesji doliczyć 20% podanej kwoty.</font>
            </div>
        </div>
    </div>
{% endblock %}