{% extends "base.html" %}
{% load staticfiles %}
{% block navigation_computer %}
            <div class="navbar hidden-phone" >
                    <a href="{% url 'index' %}">Start</a>
                    <a href="{% url 'gallery-list' %}">Portfolio</a>
                    <a class="active" href="{% url 'offer' %}">Oferta</a>
                    <a href="{% url 'before' %}">Przed sesją</a>
                    <a href="{% url 'about' %}">O mnie</a>
                    <a href="{% url 'contact' %}">Kontakt</a>

            </div>

{% endblock %}
{% block content %}
    <div class="row headline">
        <div class="span2"></div>
        <div class = "gallery span8">
            <div class="span1"></div>
            <div class="span6">
                <h5>SESJA MINI</h5>
                <p>10 starannie wyselekcjonowanych zdjęć z sesji poddanych autorskiej obróbce zapisanych na płycie CD w
                    dwóch formatach: do druku oraz do zamieszczania na stronach internetowych</p>
                <p>10 odbitek na papierze jedwabnym Fuji Professional 15x23 z białą ramką, zapakowanych w ozdobne pudełko</p>
                <p>podstawowy retusz i edycja kolorystyczna</p>
                <h5>170zł</h5>
                <br>
                <h5>SESJA STANDARD</h5>
                <p>20 starannie wyselekcjonowanych zdjęć z sesji poddanych autorskiej obróbce zapisanych na płycie CD w
                    dwóch formatach: do druku oraz do zamieszczania na stronach internetowych</p>
                <p>20 odbitek na papierze jedwabnym Fuji Professional 15x23 z białą ramką, zapakowanych w ozdobne pudełko</p>
                <p>podstawowy retusz i edycja kolorystyczna</p>
                <h5>330zł</h5>
                <br>
                <h5>SESJA PREMIUM</h5>
                <p>30 starannie wyselekcjonowanych zdjęć z sesji poddanych autorskiej obróbce zapisanych na płycie CD w
                    dwóch formatach: do druku oraz do zamieszczania na stronach internetowych</p>
                <p>30 odbitek na papierze jedwabnym Fuji Professional 15x23 z białą ramką, zapakowanych w ozdobne pudełko</p>
                <p>podstawowy retusz i edycja kolorystyczna</p>
                <h5>450zł</h5>
                <br>
                <h6>W przypadku braku zgody na publikację zdjęć, należy do ceny sesji doliczyć 20% podanej kwoty.</h6>
            </div>
        </div>
    </div>
{% endblock %}